@media (min-width: 768px) {
  
  
    nav {
    ul {
      @include nospace;
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    
    li {
      margin: 0 1rem 1rem 1rem;
      font-size: 1.3rem;
    }
    
    .logo img {
      max-width: 150px;
    }
      .logo {
      flex-basis: 100%;
      text-align: center;
    }
  }
     .main {
      max-width: 1200px;
      @include boxmodel(0 auto, 2rem);
      display: $mian-display;
      flex-flow: $mian-flex-flow;
      justify-content: $main-justify-content;
    }
    article {
      flex-basis: 50%;
    }
    figure {
      margin: 3rem 0 0 0;
      flex-basis: 35%;
  
      img {
      border-top-left-radius: $corners;
      border-top-right-radius: $corners;
    }
  }
      figcaption {
      padding: 0.5rem;
    }
    .button {
      display: inline-block;
      border-radius: $corners;
      @include boxmodel(0, 0.5rem 1rem);
    }  
    
    
    .menu {
      margin: 3rem 3rem 0 0;
      flex-basis: 40%;
    }
    
    .grid-container {
      display: grid;
      grid-template-columns: 2fr 4fr;
      grid-template-rows: 2fr 2fr 2fr;
      column-gap: 5px;
    }
    
    .espressoimg {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    
    .espressotexts {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    
    .beansimg {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    
    .beanstexts {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    
    .pouringimg {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    
    .pouringtexts {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    
    }