//variables
$main-color: #082B59;
$card-color: #59331d;
$secondary-color: #d98555;
$main-font: 'Lato', sans-serif;
$heading-font: 'Poppins', sans-serif;
$corners: 10px;
$mian-display: flex;
$main-flex-flow: row wrap;
$main-justify-content: space-between;